<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload</title>
</head>
<body>
    <style>
        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        input[type="file"] {
            font-size: 23px;
        }
    </style>

    <div class="box">
        <h2>Upload</h2>
        <h3>format</h3>
        <form method="post" enctype="multipart/form-data">            
            <input type="file" accept=".txt" name="file" required>
            <br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>